/* css custom variables */
:root {
  --main-color: #0d93d2;
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
}
/* Global Rules Start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  height: 88888px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------
  Resonsive start
-------------- */

/* small */
@media (min-width: 575px) {
  .container {
    width: 540px;
  }
}
/* Medium */
@media (min-width: 767px) {
  .container {
    width: 720px;
  }
}
/* Large */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
/* x-Large */
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
/* ------------------
    Resonsive end
  -------------- */
/* Global Rules end */
